      </div><!--end mainContent-->
    </div><!--end mainContentRowWrapper -->
    <br />
    <div  id= "bottom" class="navbar row">
        <div class="navbar-inner">
                  <a class="col-xs-4 col-md-2" href="/history.html">History</a>
                  <a class="col-xs-4 col-md-2" href="/news.html">News</a>
                  <a class="col-xs-4 col-md-2" href="/library.html">Library</a>
                  <a class="col-xs-6 col-md-2" href="/admin.html">Admin</a>
                  <a class="col-xs-6 col-md-2" href="/contact.html">Contact</a>


        </div>
    </div> <!-- End Navigation -->

</div> <!-- End mainContainer -->

</body>
</html>

